.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
background-position: center;
background-size: cover;
}

.swiper-slide img {
display: block;
width: 100%;
}
.caruselContenedor{
    display: flex;
    margin-top: -3rem;
    width: 100%;
}